<p>Nombre: {{nombre}}</p>
<p>Apellido: {{apellido}}</p>
<p>Edad: {{edad}}, {{edad < 18 ? "Menor de Edad" : "Mayor de Edad" }}</p>
    <p>Documento: {{docIdentidad}}</p>
    <p>Empresa: {{empresa}}</p>

    <p>Introduce la empresa: <input type="text" [(ngModel)]="empresa"></p>
    <input type="checkbox" id="activar" (click)="habilitarCuadro()">
    <br>

    <p>
      Registrado: <input type="radio" value="si" name="radioRegister" [checked]="usuRegistrado"
        (click)="setUsuarioRegistrado($event)">
      No Registrado: <input type="radio" value="no" name="radioRegister" [checked]="usuRegistrado"
        (click)="setUsuarioRegistrado($event)">
      <br>
      {{textoRegistro}}
    </p>